.SendCoin {
  margin-top: 1em;
  padding-top: 1em;
  border-top: 1px solid;
  display: flex;
  align-items: flex-start;
  flex-flow: row wrap;
  justify-content: space-between;
  color: #16325c;

  label {
    white-space: nowrap;
    flex-basis: 100%;

  }

  .RecipientAddress {
    flex: 1;
  }

  .SendAmount {
    flex: 1;
    margin-right: .8em;
  }

  input {
    margin-bottom: 1em;
    font-size:1em;
    font-family: 'Open Sans';
    padding: .5rem;
    color: #16325c;
    border: 1px solid #d8dde6;
    border-radius: .25rem;
  }

  .SendBtn {
    font-size:1em;
    color: #0070d2;
    line-height:1;
    padding: .6rem 1rem;
    cursor: pointer;
    text-align: center;
    vertical-align: middle;
    border: 1px solid #d8dde6;
    background-color: #fff;
  }
}



input {
  border-radius: 0px;
}


.FilterBar {
  .Select {
    position: relative;
  }
  .Select,
  .Select div,
  .Select input,
  .Select span {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .Select.is-disabled > .Select-control {
    background-color: rgba(0,0,0,0);
  }
  .Select.is-disabled > .Select-control:hover {
    box-shadow: none;
  }
  .Select.is-disabled .Select-arrow-zone {
    cursor: default;
    pointer-events: none;
    opacity: 1;
  }
  .Select-control {
    background-color: rgba(10, 22, 40, 0.5) !important;
    border: 0px;
    color: white;
    cursor: default;
    display: table;
    border-spacing: 0;
    border-collapse: separate;
    height: 40px;
    outline: none;
    overflow: hidden;
    position: relative;
    width: 195px;
    border-radius: 0px;
  }
  .Select-control:hover {
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
  }
  .Select-control .Select-input:focus {
    outline: none;
  }
  .is-searchable.is-open > .Select-control {
    cursor: text;
  }
  .is-open > .Select-control {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    background: rgba(0,0,0,0);
    border-color: #b3b3b3 #ccc #d9d9d9;
  }
  .is-open > .Select-control .Select-arrow {
    top: -2px;
    border-color: transparent transparent rgba(22, 229, 205, 0);
    border-width: 0 5px 5px;
  }
  .is-searchable.is-focused:not(.is-open) > .Select-control {
    cursor: text;
  }
  .is-focused:not(.is-open) > .Select-control {
    border-color: #007eff;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 0 3px rgba(0, 126, 255, 0.1);
  }
  .Select-placeholder,
  .Select--single > .Select-control .Select-value {
    bottom: 0;
    color: white;
    left: 0;
    line-height: 34px;
    padding-left: 10px;
    padding-right: 10px;
    position: absolute;
    right: 0;
    top: 0;
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .Select-placeholder {
    font-size: 14px;
    line-height: 40px;
  }
  .has-value.Select--single > .Select-control .Select-value .Select-value-label,
  .has-value.is-pseudo-focused.Select--single > .Select-control .Select-value .Select-value-label {
    color: white;
  }
  .has-value.Select--single > .Select-control .Select-value a.Select-value-label,
  .has-value.is-pseudo-focused.Select--single > .Select-control .Select-value a.Select-value-label {
    cursor: pointer;
    text-decoration: none;
  }
  .has-value.Select--single > .Select-control .Select-value a.Select-value-label:hover,
  .has-value.is-pseudo-focused.Select--single > .Select-control .Select-value a.Select-value-label:hover,
  .has-value.Select--single > .Select-control .Select-value a.Select-value-label:focus,
  .has-value.is-pseudo-focused.Select--single > .Select-control .Select-value a.Select-value-label:focus {
    color: #16e5cd;
    outline: none;
    text-decoration: underline;
  }
  .Select-input {
    height: 34px;
    padding-left: 10px;
    padding-right: 10px;
    vertical-align: middle;
  }
  .Select-input > input {
    width: 100%;
    background: none transparent;
    border: 0 none;
    box-shadow: none;
    cursor: default;
    display: inline-block;
    font-family: inherit;
    font-size: inherit;
    margin: 0;
    outline: none;
    line-height: 14px;
    /* For IE 8 compatibility */
    padding: 8px 0 12px;
    /* For IE 8 compatibility */
    -webkit-appearance: none;
  }
  .is-focused .Select-input > input {
    cursor: text;
  }
  .has-value.is-pseudo-focused .Select-input {
    opacity: 0;
  }
  .Select-control:not(.is-searchable) > .Select-input {
    outline: none;
  }
  .Select-loading-zone {
    cursor: pointer;
    display: table-cell;
    position: relative;
    text-align: center;
    vertical-align: middle;
    width: 16px;
  }
  .Select-loading {
    -webkit-animation: Select-animation-spin 400ms infinite linear;
    -o-animation: Select-animation-spin 400ms infinite linear;
    animation: Select-animation-spin 400ms infinite linear;
    width: 16px;
    height: 16px;
    box-sizing: border-box;
    border-radius: 50%;
    border: 2px solid #ccc;
    border-right-color: #333;
    display: inline-block;
    position: relative;
    vertical-align: middle;
  }
  .Select-clear-zone {
    -webkit-animation: Select-animation-fadeIn 200ms;
    -o-animation: Select-animation-fadeIn 200ms;
    animation: Select-animation-fadeIn 200ms;
    color: #999;
    cursor: pointer;
    display: table-cell;
    position: relative;
    text-align: center;
    vertical-align: middle;
    width: 17px;
  }
  .Select-clear-zone:hover {
    color: rgb(255, 222, 70);
  }
  .Select-clear {
    display: inline-block;
    font-size: 14px;
    line-height: 1;
  }
  .Select--multi .Select-clear-zone {
    width: 17px;
  }
  .Select-arrow-zone {
    cursor: pointer;
    display: table-cell;
    position: relative;
    text-align: center;
    vertical-align: middle;
    width: 20px;
    padding-right: 2px;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4iICJodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS5kdGQiPjxzdmcgaWQ9IkxheWVyXzEiIGRhdGEtbmFtZT0iTGF5ZXIgMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB2aWV3Qm94PSIwIDAgNC45NSAxMCI+PGRlZnM+PHN0eWxlPi5jbHMtMXtmaWxsOiMxNzM3NTM7fS5jbHMtMntmaWxsOiMxNmU1Y2Q7fTwvc3R5bGU+PC9kZWZzPjx0aXRsZT5hcnJvd3M8L3RpdGxlPjxyZWN0IGNsYXNzPSJjbHMtMSIgd2lkdGg9IjQuOTUiIGhlaWdodD0iMTAiLz48cG9seWdvbiBjbGFzcz0iY2xzLTIiIHBvaW50cz0iMS40MSA0LjY3IDIuNDggMy4xOCAzLjU0IDQuNjcgMS40MSA0LjY3Ii8+PHBvbHlnb24gY2xhc3M9ImNscy0yIiBwb2ludHM9IjMuNTQgNS4zMyAyLjQ4IDYuODIgMS40MSA1LjMzIDMuNTQgNS4zMyIvPjwvc3ZnPg==) no-repeat 100% 50%;
    background-color: #183653;

  }
  .Select-arrow {
    border-color: rgba(22, 229, 205, 0) transparent transparent;
    border-style: solid;
    border-width: 5px 5px 2.5px;
    display: inline-block;
    height: 0;
    width: 0;
    position: relative;
  }
  .is-open .Select-arrow,
  .Select-arrow-zone:hover > .Select-arrow {
    border-top-color: rgba(22, 229, 205, 0);
  }
  .Select--multi .Select-multi-value-wrapper {
    display: inline-block;
  }
  .Select .Select-aria-only {
    display: inline-block;
    height: 1px;
    width: 1px;
    margin: -1px;
    clip: rect(0, 0, 0, 0);
    overflow: hidden;
    float: left;
  }
  @-webkit-keyframes Select-animation-fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @keyframes Select-animation-fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  .Select-menu-outer {
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    background-color: rgba(256,256,256,0.9);
    border: 0px solid #ccc;
    border-top-color: #e6e6e6;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
    box-sizing: border-box;
    margin-top: -1px;
    max-height: 200px;
    position: absolute;
    top: 100%;
    width: 200px;
    z-index: 1;
    -webkit-overflow-scrolling: touch;
  }
  .Select-menu {
    max-height: 198px;
    overflow-y: auto;
  }
  .Select-option {
    box-sizing: border-box;
    background-color: rgba(256,256,256,0.5);
    color: #000;
    cursor: pointer;
    display: block;
    padding: 8px 10px;
  }
  .Select-option:last-child {
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
  }
  .Select-option.is-selected {
    background-color: #f5faff;
    /* Fallback color for IE 8 */
    background-color: rgba(0, 126, 255, 0.04);
    color: #333;
  }
  .Select-option.is-focused {
    background-color: #ebf5ff;
    /* Fallback color for IE 8 */
    background-color: rgba(0, 126, 255, 0.08);
    color: #333;
  }
  .Select-option.is-disabled {
    color: #cccccc;
    cursor: default;
  }
  .Select-noresults {
    box-sizing: border-box;
    color: #999999;
    cursor: default;
    display: block;
    padding: 8px 10px;
  }
  .Select--multi .Select-input {
    vertical-align: middle;
    margin-left: 10px;
    padding: 0;
  }
  .Select--multi.has-value .Select-input {
    margin-left: 5px;
  }
  .Select--multi .Select-value {
    background-color: #ebf5ff;
    /* Fallback color for IE 8 */
    background-color: rgba(0, 126, 255, 0.08);
    border-radius: 2px;
    border: 1px solid #c2e0ff;
    /* Fallback color for IE 8 */
    border: 1px solid rgba(0, 126, 255, 0.24);
    color: #16e5cd;
    display: inline-block;
    font-size: 0.9em;
    line-height: 1.4;
    margin-left: 7px;
    margin-top: 7px;
    vertical-align: top;
  }
  .Select--multi .Select-value-icon,
  .Select--multi .Select-value-label {
    display: inline-block;
    vertical-align: middle;
  }
  .Select--multi .Select-value-label {
    border-bottom-right-radius: 2px;
    border-top-right-radius: 2px;
    cursor: default;
    padding: 2px 5px;
  }
  .Select--multi a.Select-value-label {
    color: #16e5cd;
    cursor: pointer;
    text-decoration: none;
  }
  .Select--multi a.Select-value-label:hover {
    text-decoration: underline;
  }
  .Select--multi .Select-value-icon {
    cursor: pointer;
    border-bottom-left-radius: 2px;
    border-top-left-radius: 2px;
    border-right: 1px solid #c2e0ff;
    /* Fallback color for IE 8 */
    border-right: 1px solid rgba(0, 126, 255, 0.24);
    padding: 1px 5px 3px;
  }
  .Select--multi .Select-value-icon:hover,
  .Select--multi .Select-value-icon:focus {
    background-color: #d8eafd;
    /* Fallback color for IE 8 */
    background-color: rgba(0, 113, 230, 0.08);
    color: #0071e6;
  }
  .Select--multi .Select-value-icon:active {
    background-color: #c2e0ff;
    /* Fallback color for IE 8 */
    background-color: rgba(0, 126, 255, 0.24);
  }
  .Select--multi.is-disabled .Select-value {
    background-color: #fcfcfc;
    border: 1px solid #e3e3e3;
    color: #333;
  }
  .Select--multi.is-disabled .Select-value-icon {
    cursor: not-allowed;
    border-right: 1px solid #e3e3e3;
  }
  .Select--multi.is-disabled .Select-value-icon:hover,
  .Select--multi.is-disabled .Select-value-icon:focus,
  .Select--multi.is-disabled .Select-value-icon:active {
    background-color: #fcfcfc;
  }
  @keyframes Select-animation-spin {
    to {
      transform: rotate(1turn);
    }
  }
  @-webkit-keyframes Select-animation-spin {
    to {
      -webkit-transform: rotate(1turn);
    }
  }
}
.FilterBarLight {
  .Select {
    position: relative;
  }
  .Select,
  .Select div,
  .Select input,
  .Select span {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .Select.is-disabled > .Select-control {
    background-color: rgba(0,0,0,0);
  }
  .Select.is-disabled > .Select-control:hover {
    box-shadow: none;
  }
  .Select.is-disabled .Select-arrow-zone {
    cursor: default;
    pointer-events: none;
    opacity: 1;
  }
  .Select-control {
    background-color: rgba(1, 1, 1, 0.05) !important;
    border: 0px;
    color: rgb(25, 55, 83);
    cursor: default;
    display: table;
    border-spacing: 0;
    border-collapse: separate;
    height: 40px;
    outline: none;
    overflow: hidden;
    position: relative;
    width: 195px;
    border-radius: 0px;
  }
  .Select-control:hover {
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
  }
  .Select-control .Select-input:focus {
    outline: none;
  }
  .is-searchable.is-open > .Select-control {
    cursor: text;
  }
  .is-open > .Select-control {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    background: rgba(0,0,0,0);
    border-color: #b3b3b3 #ccc #d9d9d9;
  }
  .is-open > .Select-control .Select-arrow {
    top: -2px;
    border-color: transparent transparent rgba(22, 229, 205, 0);
    border-width: 0 5px 5px;
  }
  .is-searchable.is-focused:not(.is-open) > .Select-control {
    cursor: text;
  }
  .is-focused:not(.is-open) > .Select-control {
    border-color: #007eff;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 0 3px rgba(0, 126, 255, 0.1);
  }
  .Select-placeholder,
  .Select--single > .Select-control .Select-value {
    bottom: 0;
    color: rgb(25, 55, 83);
    left: 0;
    line-height: 34px;
    padding-left: 10px;
    padding-right: 10px;
    position: absolute;
    right: 0;
    top: 0;
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .Select-placeholder {
    font-size: 14px;
    line-height: 40px;
  }
  .has-value.Select--single > .Select-control .Select-value .Select-value-label,
  .has-value.is-pseudo-focused.Select--single > .Select-control .Select-value .Select-value-label {
    color: rgb(25, 55, 83);
  }
  .has-value.Select--single > .Select-control .Select-value a.Select-value-label,
  .has-value.is-pseudo-focused.Select--single > .Select-control .Select-value a.Select-value-label {
    cursor: pointer;
    text-decoration: none;
  }
  .has-value.Select--single > .Select-control .Select-value a.Select-value-label:hover,
  .has-value.is-pseudo-focused.Select--single > .Select-control .Select-value a.Select-value-label:hover,
  .has-value.Select--single > .Select-control .Select-value a.Select-value-label:focus,
  .has-value.is-pseudo-focused.Select--single > .Select-control .Select-value a.Select-value-label:focus {
    color: #16e5cd;
    outline: none;
    text-decoration: underline;
  }
  .Select-input {
    height: 34px;
    padding-left: 10px;
    padding-right: 10px;
    vertical-align: middle;
  }
  .Select-input > input {
    width: 100%;
    background: none transparent;
    border: 0 none;
    box-shadow: none;
    cursor: default;
    display: inline-block;
    font-family: inherit;
    font-size: inherit;
    margin: 0;
    outline: none;
    line-height: 14px;
    /* For IE 8 compatibility */
    padding: 8px 0 12px;
    /* For IE 8 compatibility */
    -webkit-appearance: none;
  }
  .is-focused .Select-input > input {
    cursor: text;
  }
  .has-value.is-pseudo-focused .Select-input {
    opacity: 0;
  }
  .Select-control:not(.is-searchable) > .Select-input {
    outline: none;
  }
  .Select-loading-zone {
    cursor: pointer;
    display: table-cell;
    position: relative;
    text-align: center;
    vertical-align: middle;
    width: 16px;
  }
  .Select-loading {
    -webkit-animation: Select-animation-spin 400ms infinite linear;
    -o-animation: Select-animation-spin 400ms infinite linear;
    animation: Select-animation-spin 400ms infinite linear;
    width: 16px;
    height: 16px;
    box-sizing: border-box;
    border-radius: 50%;
    border: 2px solid #ccc;
    border-right-color: #333;
    display: inline-block;
    position: relative;
    vertical-align: middle;
  }
  .Select-clear-zone {
    -webkit-animation: Select-animation-fadeIn 200ms;
    -o-animation: Select-animation-fadeIn 200ms;
    animation: Select-animation-fadeIn 200ms;
    color: #999;
    cursor: pointer;
    display: table-cell;
    position: relative;
    text-align: center;
    vertical-align: middle;
    width: 17px;
  }
  .Select-clear-zone:hover {
    color: rgb(255, 222, 70);
  }
  .Select-clear {
    display: inline-block;
    font-size: 14px;
    line-height: 1;
  }
  .Select--multi .Select-clear-zone {
    width: 17px;
  }
  .Select-arrow-zone {
    cursor: pointer;
    display: table-cell;
    position: relative;
    text-align: center;
    vertical-align: middle;
    width: 20px;
    padding-right: 2px;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4iICJodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS5kdGQiPjxzdmcgaWQ9IkxheWVyXzEiIGRhdGEtbmFtZT0iTGF5ZXIgMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB2aWV3Qm94PSIwIDAgNC45NSAxMCI+PGRlZnM+PHN0eWxlPi5jbHMtMXtmaWxsOiMxNzM3NTM7fS5jbHMtMntmaWxsOiMxNmU1Y2Q7fTwvc3R5bGU+PC9kZWZzPjx0aXRsZT5hcnJvd3M8L3RpdGxlPjxyZWN0IGNsYXNzPSJjbHMtMSIgd2lkdGg9IjQuOTUiIGhlaWdodD0iMTAiLz48cG9seWdvbiBjbGFzcz0iY2xzLTIiIHBvaW50cz0iMS40MSA0LjY3IDIuNDggMy4xOCAzLjU0IDQuNjcgMS40MSA0LjY3Ii8+PHBvbHlnb24gY2xhc3M9ImNscy0yIiBwb2ludHM9IjMuNTQgNS4zMyAyLjQ4IDYuODIgMS40MSA1LjMzIDMuNTQgNS4zMyIvPjwvc3ZnPg==) no-repeat 100% 50%;
    background-color: #183653;

  }
  .Select-arrow {
    border-color: rgba(22, 229, 205, 0) transparent transparent;
    border-style: solid;
    border-width: 5px 5px 2.5px;
    display: inline-block;
    height: 0;
    width: 0;
    position: relative;
  }
  .is-open .Select-arrow,
  .Select-arrow-zone:hover > .Select-arrow {
    border-top-color: rgba(22, 229, 205, 0);
  }
  .Select--multi .Select-multi-value-wrapper {
    display: inline-block;
  }
  .Select .Select-aria-only {
    display: inline-block;
    height: 1px;
    width: 1px;
    margin: -1px;
    clip: rect(0, 0, 0, 0);
    overflow: hidden;
    float: left;
  }
  @-webkit-keyframes Select-animation-fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @keyframes Select-animation-fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  .Select-menu-outer {
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    background-color: rgba(256,256,256,0.9);
    border: 0px solid #ccc;
    border-top-color: #e6e6e6;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
    box-sizing: border-box;
    margin-top: -1px;
    max-height: 200px;
    position: absolute;
    top: 100%;
    width: 200px;
    z-index: 1;
    -webkit-overflow-scrolling: touch;
  }
  .Select-menu {
    max-height: 198px;
    overflow-y: auto;
  }
  .Select-option {
    box-sizing: border-box;
    background-color: rgba(256,256,256,0.5);
    color: #000;
    cursor: pointer;
    display: block;
    padding: 8px 10px;
  }
  .Select-option:last-child {
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
  }
  .Select-option.is-selected {
    background-color: #f5faff;
    /* Fallback color for IE 8 */
    background-color: rgba(0, 126, 255, 0.04);
    color: #333;
  }
  .Select-option.is-focused {
    background-color: #ebf5ff;
    /* Fallback color for IE 8 */
    background-color: rgba(0, 126, 255, 0.08);
    color: #333;
  }
  .Select-option.is-disabled {
    color: #cccccc;
    cursor: default;
  }
  .Select-noresults {
    box-sizing: border-box;
    color: #999999;
    cursor: default;
    display: block;
    padding: 8px 10px;
  }
  .Select--multi .Select-input {
    vertical-align: middle;
    margin-left: 10px;
    padding: 0;
  }
  .Select--multi.has-value .Select-input {
    margin-left: 5px;
  }
  .Select--multi .Select-value {
    background-color: #ebf5ff;
    /* Fallback color for IE 8 */
    background-color: rgba(0, 126, 255, 0.08);
    border-radius: 2px;
    border: 1px solid #c2e0ff;
    /* Fallback color for IE 8 */
    border: 1px solid rgba(0, 126, 255, 0.24);
    color: #16e5cd;
    display: inline-block;
    font-size: 0.9em;
    line-height: 1.4;
    margin-left: 7px;
    margin-top: 7px;
    vertical-align: top;
  }
  .Select--multi .Select-value-icon,
  .Select--multi .Select-value-label {
    display: inline-block;
    vertical-align: middle;
  }
  .Select--multi .Select-value-label {
    border-bottom-right-radius: 2px;
    border-top-right-radius: 2px;
    cursor: default;
    padding: 2px 5px;
  }
  .Select--multi a.Select-value-label {
    color: #16e5cd;
    cursor: pointer;
    text-decoration: none;
  }
  .Select--multi a.Select-value-label:hover {
    text-decoration: underline;
  }
  .Select--multi .Select-value-icon {
    cursor: pointer;
    border-bottom-left-radius: 2px;
    border-top-left-radius: 2px;
    border-right: 1px solid #c2e0ff;
    /* Fallback color for IE 8 */
    border-right: 1px solid rgba(0, 126, 255, 0.24);
    padding: 1px 5px 3px;
  }
  .Select--multi .Select-value-icon:hover,
  .Select--multi .Select-value-icon:focus {
    background-color: #d8eafd;
    /* Fallback color for IE 8 */
    background-color: rgba(0, 113, 230, 0.08);
    color: #0071e6;
  }
  .Select--multi .Select-value-icon:active {
    background-color: #c2e0ff;
    /* Fallback color for IE 8 */
    background-color: rgba(0, 126, 255, 0.24);
  }
  .Select--multi.is-disabled .Select-value {
    background-color: #fcfcfc;
    border: 1px solid #e3e3e3;
    color: #333;
  }
  .Select--multi.is-disabled .Select-value-icon {
    cursor: not-allowed;
    border-right: 1px solid #e3e3e3;
  }
  .Select--multi.is-disabled .Select-value-icon:hover,
  .Select--multi.is-disabled .Select-value-icon:focus,
  .Select--multi.is-disabled .Select-value-icon:active {
    background-color: #fcfcfc;
  }
  @keyframes Select-animation-spin {
    to {
      transform: rotate(1turn);
    }
  }
  @-webkit-keyframes Select-animation-spin {
    to {
      -webkit-transform: rotate(1turn);
    }
  }
}
#mc_embed_signup{
  clear:left;
  font:14px Helvetica,Arial,sans-serif;
  width:100%;
}

.CornerEmoji{
  cursor: pointer;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;
            z-index: 10000;
}
.navBar{
  background: #385a74; /* Old browsers */
background: -moz-linear-gradient(top, #385a74 0%, #274254 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #385a74 0%,#274254 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #385a74 0%,#274254 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#385a74', endColorstr='#274254',GradientType=0 ); /* IE6-9 */
}

.AppContainer .container {
  min-height: 100vh;
  position: relative;
}

.AppContainer .CornerEmoji {
  position: fixed;
  bottom: 15px;
  left: 15px;
  display: block;
  overflow: hidden;
  width: 100px;
}

.AppContainer .CornerEmoji .emoji {
  height: 28px;
  width: 28px;
  background-size: contain;
  background-repeat: no-repeat;
  display: block;
  float: left;
}

.AppContainer #colourBodyLight .CornerEmoji .emoji {
  background-image: url("./images/DarkMoon.png");
}

.AppContainer #colourBodyDark .CornerEmoji .emoji {
  background-image: url("./images/LightMoon.png");
}

.AppContainer .navBar {
  overflow: hidden;
}

.AppContainer .navBar .home-button {
  width: 276px;
  overflow: hidden;
  display: block;
  padding: 1em 0em 1em 0em;
  margin: 0 auto;
}

.AppContainer .navBar .home-button .logo {
  background-image: url("./images/logo.svg");
  height: 3em;
  width: 14em;
  background-size: contain;
  background-repeat: no-repeat;
  display: block;
  float: left;
  margin-left: 57px;
}

.AppContainer .navBar .background {
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 50%;
  box-shadow: inset rgba(255, 255, 255, 0.6) 0 2px 2px, inset rgba(0, 0, 0, 0.3) 0 -2px 6px;
}

.AppContainer .navBar .new-bounty-button {
  background-color: rgba(0,0,0,0) !important;
  border: 1px solid #16e5cd !important;
  color: #16e5cd !important;
  width: 150px !important;
  float: right !important;
  height: 30px !important;
  line-height: 30px !important;
  position: absolute !important;
  top: 25px !important;
  right: 30px !important;
}

.AppContainer .main {
  display: block;
  overflow: hidden;
  width: 1100px;
  margin: 0 auto;
  padding-bottom: 120px;
}

.AppContainer .main .profile {
  width: 245px;
  float: left;
  display: block;
  margin-right: 15px;
}

.AppContainer .main .profile h3 {
  font-family: 'Open Sans';
  margin-top: 15px;
  margin-bottom: 15px;
  text-align: center;
  width: 100%;
  font-weight: 600;
  font-size: 16px;
}

.AppContainer #colourBodyLight .main .profile h3 {
  color: rgb(25, 55, 83);
}

.AppContainer #colourBodyDark .main .profile h3 {
  color: white;
}

.AppContainer .main .profile .profile-details {
  display: block;
  width: 215px;
  overflow: hidden;
  margin-top: 15px;
  padding: 15px;
  min-height: 237px;
}

.AppContainer #colourBodyLight .main .profile .profile-details {
  background-color: rgb(249, 249, 249);
}

.AppContainer #colourBodyDark .main .profile .profile-details {
  background-color: rgba(10, 22, 40, 0.5);
}

.AppContainer .main .profile .profile-details .bounties-total {
  font-family: Open Sans;
  margin-top: 15px;
  margin-bottom: 15px;
  width: 100%;
  font-weight: 500;
  text-align: center;
  line-height: 24px;
}

.AppContainer .main .profile .profile-details .bounties-total b {
  color: #16e5cd;
  font-size: 24px;
}

.AppContainer .main .profile .profile-details .category-totals {
  margin-bottom: 15px;
  border-bottom: 1px solid #16e5cd;
  display: block;
  overflow: hidden;
}

.AppContainer .main .profile .profile-details .category-totals .top-category {
  width: 33%;
  float: left;
  display: block;
}

.AppContainer .main .profile .profile-details .category-totals .bottom-category {
  width: 50%;
  float: left;
  display: block;
}

.AppContainer .main .profile .profile-details .category-totals .top-category .category-count {
  margin-top: 15px;
  margin-bottom: 0px;
}

.AppContainer .main .profile .profile-details .category-totals .bottom-category .category-count {
  margin-top: 0px;
  margin-bottom: 0px;
}

.AppContainer .main .profile .profile-details .category-totals .category-count {
  font-family: 'Open Sans';
  text-align: center;
  width: 100%;
  font-weight: 500;
  line-height: 24px;
}

.AppContainer .main .profile .profile-details .category-totals .category-count b {
  font-size: 24px;
}

.AppContainer .main .profile .profile-details .category-totals .category-name {
  font-family: 'Open Sans';
  margin-top: 0px;
  margin-bottom: 15px;
  text-align: center;
  width: 100%;
  font-weight: 500;
}

.draft-color {
  color: rgb(255, 186, 20);
}

.active-color {
  color: rgb(140, 226, 88);
}

.dead-color {
  color: #ff6846;
}

.expired-color {
  color: rgb(104, 166, 166);
}

.completed-color {
  color: rgb(255, 222, 70);
}

.blue-divider-right {
  border-right: 1px solid #16e5cd;
}

.AppContainer .main .profile .profile-details .profile-button {
  width: 100% !important;
  background-color: rgba(1, 1, 1, 0.05) !important;
  margin-top: 15px !important;
}

.AppContainer #colourBodyLight .main .profile .profile-details .profile-button {
  color: #193753 !important;
}

.AppContainer #colourBodyDark .main .profile .profile-details .profile-button {
  color: white !important;
}

.AppContainer #colourBodyLight .main .profile .profile-details .category-totals .category-count {
  color: #193753;
}

.AppContainer #colourBodyDark .main .profile .profile-details .category-totals  .category-count {
  color: white;
}

.AppContainer #colourBodyLight .main .profile .profile-details .bounties-total {
  color: #193753;
}

.AppContainer #colourBodyDark .main .profile .profile-details .bounties-total {
  color: white;
}

.AppContainer .main .profile .profile-details .no-account-warning h5 {
  font-family: 'Open Sans';
  margin-bottom: 15px;
  width: 100%;
  text-align: center;
}

.AppContainer .main .profile .profile-details .no-account-warning .no-account-header {
  margin-top: 35px;
  font-weight: 700;
  font-size: 18px;
}

.AppContainer .main .profile .profile-details .no-account-warning .no-account-explanation {
  margin-top: 15px;
  font-weight: 300;
  font-size: 14px;
}

.AppContainer .main .profile .profile-details .no-account-warning .no-account-metamask {
  margin-top: 15px;
  font-weight: 300;
  font-size: 14px;
  padding-top: 15px;
  border-top: 1px solid #16e5cd;
}

.AppContainer .main .profile .profile-details .no-account-warning .metamask-link {
  color: #16e5cd;
  font-weight: 700;
}

.AppContainer #colourBodyLight .main .profile .profile-details .no-account-warning h5 {
  color: #8a8a8a;
}

.AppContainer #colourBodyDark .main .profile .profile-details .no-account-warning h5 {
  color: white;
}

.AppContainer .main .profile .signup-cta {
  font-family: 'Open Sans', margin-top: '35px', margin-bottom: '15px', color: this.state.lightMode ? 'rgb(25, 55, 83)' : 'rgb(208,208,208)', width: '100%', fontWeight: '600', textAlign: 'center', fontSize: '14px'
}

.AppContainer .main .bounties {
  width: 630px;
  float: left;
  display: block;
}

.AppContainer .main .filter {
  width: 195px;
  float: left;
  display: block;
  margin-left: 15px;
}

.AppContainer .footer {
  text-align: center;
  display: block;
  font-size: 10px;
  padding: 15px 0px;
  width: 100%;
  position: absolute;
  bottom: 0px;
}

.AppContainer .footer .consensys-link {
  text-decoration: none;
}

.AppContainer #colourBodyLight .footer,
.AppContainer #colourBodyLight .footer .consensys-link,
.AppContainer #colourBodyLight .footer .privacy-policy-link,
.AppContainer #colourBodyLight .footer .terms-link {
  color: rgb(25, 55, 83);
}

.AppContainer #colourBodyDark .footer,
.AppContainer #colourBodyDark .footer .privacy-policy-link,
.AppContainer #colourBodyDark .footer .terms-link {
  color: rgba(256,256,256,0.75);
}

#colourBodyDark .AppContainer .footer .consensys-link {
  color: #16e5cd;
}
